{% set navigation = craft.entries.section('footer').all() %}

<footer class="footer">
    <div class="footer__credits">
        <ul class="footer__credits-list">
            {% set navigation = craft.entries.section('footer').all() %}

            {% for item in navigation %}
            <li class="footer__credits-list">
            
            </li>
            {% endfor %}
        
        </ul>
    </div>
</footer>