{% set navItems = craft.entries.section("navigation").all() %}
{% set home = craft.entries.section('home').one() %}

<header class="navbar">
	<nav class="navbar-container">
		<a class="logo" href="{{ home.urlhome }}">
		{% set logo = home.logo.one() %}
			<img src="{{ logo.url }}" alt="logo">
		</a>

		<button class="navbar-toggle" id="navbar-toggle" aria-label="Toggle navigation">
			<span class="navbar-toggle-icon"></span>
		</button>

		<ul class="navbar-menu" id="navbar-menu">
			{% for item in navItems %}
				<li class="navbar-item">
					<a href="{{ item.linkUrl }}" class="navbar-link">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
