{% set navItems = craft.entries.section("navigation").all() %}

<header class="navbar">
   <nav class="navbar-container">
      <a class="logo"><img src="" alt=""></a>
      <ul class="navbar-menu">
         {% for item in navItems %}
            <li class="navbar-item">
               <a href="{{ item.linkUrl }}" class="navbar-link">{{ item.title }}</a>
            </li>
         {% endfor %}
      </ul>
   </nav>
</header>
