/* Algemene layout */
.navbar {
  background-color: var(--kleur-primair);
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 40px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s ease;
  
  font-size: 1.5rem;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--kleur-link-hover);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
}

.navbar-link:hover {
  color: var(--kleur-link-hover);
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Hamburger button */
.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001; /* Zorg dat hij boven het menu zit */
}

.navbar-toggle-icon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.navbar-toggle-icon::before {
  transform: translateY(-8px);
}

.navbar-toggle-icon::after {
  transform: translateY(8px);
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Hamburger zichtbaar */
  .navbar-toggle {
    display: flex;
    margin-left: auto;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    background-color: var(--kleur-primair);
    padding: 1rem 0;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-link {
    display: block;
    width: 100%;
    padding-left: 1rem;
  }
}

.navbar-toggle.open .navbar-toggle-icon {
    background-color: transparent;
}

.navbar-toggle.open .navbar-toggle-icon::before {
    transform: rotate(45deg);
}

.navbar-toggle.open .navbar-toggle-icon::after {
    transform: rotate(-45deg);
}
