 @import url("variabels/varibels.css");
 @import url("components/woon.css");
 @import url("layouts/acordeon.css");

 .navbar {
    background-color: red;
 }

 body {
  font-family: var(--font-body);
  background-color: var(--kleur-secundair);
  margin: 0;
  padding: var(--padding-sectie);
  color: var(--kleur-tekst);
}
