 @import url("variabels/varibels.css");
 @import url("components/woon.css");
 @import url("components/nav.css");
 @import url("components/footer.css");
 @import url("components/team.css");
 @import url("components/diensten.css");
 @import url("layouts/acordeon.css");
  @import url("layouts/slideShow.css");

 body{
  font-family: var(--font-body);
  background-color: var(--kleur-body-back);
  margin: 0;
  padding: 0;
  color: var(--kleur-tekst);
  font-size: large;
  background-image: url('../assets/background.webp');
  background-repeat: repeat;
  background-size: 100px 100px;
  background-position: top left;
}

.content-container{
   background-color: var(--kleur-secundair);
   margin: 0rem var(--border-padding);
   padding: var(--padding-sectie) var(--border-margin);
   min-height: 100%;
   border-radius: 1rem;
}

@media (max-width: 900px) {
    .content-container {
        margin: 0;
    }
}