 @import url("variabels/varibels.css");
 @import url("components/woon.css");
 @import url("components/nav.css");
 @import url("components/footer.css");
 @import url("components/team.css");
 @import url("layouts/acordeon.css");

 body {
  font-family: var(--font-body);
  background-color: var(--kleur-body-back);
  margin: 0;
  padding: 0;
  color: var(--kleur-tekst);
}

.content-container{
   background-color: var(--kleur-secundair);
   margin: 0rem var(--border-padding);
   padding: var(--padding-sectie) var(--border-margin);
   min-height: 100%;
}

@media (max-width: 900px) {
    .content-container {
        margin: 0;
    }
}