<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{home.title}}</title>
		<link rel="stylesheet" href="/styles/main.css">
	</head>
	<body class="{{ home.class }}">
		{% include "_partials/navigation.twig" %}
		<div class="content-container"> {% block content %}{% endblock %}
			</div>
			{% include "_partials/footer.twig" %}
			<script type="module" src="{{ alias('@web') }}/scripts/main.js"></script>
		</body>
	</html>
