{% extends "_layouts/base.twig" %}
{% set gallerij = craft.entries.section("gallerij").all() %}

{% block content %}
	<div class="gallerij-slideshow">
		{% for item in gallerij %}
			<div class="gallerij-slide fade gallerij-hover">
				{% set image = item.image.one() %}
				{% if image %}
					<img src="{{ image.url }}" alt="{{ item.title }}" class="gallerij">
				{% endif %}
			</div>
		{% endfor %}

		<a class="prev">❮</a>
		<a class="next">❯</a>

	</div>
{% endblock %}
