{% extends "_layouts/base.twig" %}

{% set projectsItems = craft.entries()
    .section("projects")
    .all() %}

{% block content %}
  <div class="">
    {% for item in projectsItems %}
      <div class="">
        <div class="">
        <h1> {{ item.title }}</h1>
          <p>{{ item.about }}</p>
          <h2>{{ item.subtiltel }}</h2>
          <p>{{ item.about2 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
